<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>unit_guard_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,47}}</string>
                <key>sourceSize</key>
                <string>{66,47}</string>
            </dict>
            <key>unit_guard_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{42,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,14}}</string>
                <key>sourceSize</key>
                <string>{42,14}</string>
            </dict>
            <key>unit_guard_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{42,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,14}}</string>
                <key>sourceSize</key>
                <string>{42,14}</string>
            </dict>
            <key>unit_guard_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,47}}</string>
                <key>sourceSize</key>
                <string>{66,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unit_guard.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c9876cacb3aafe7a36bfbcf95da44de:1/1$</string>
            <key>textureFileName</key>
            <string>unit_guard.png</string>
        </dict>
    </dict>
</plist>
