<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Popo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>Popo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{38,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>Popo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,31}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{44,31}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bubble_bump.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b49f1b36b996515c1768344e52201c9$</string>
            <key>textureFileName</key>
            <string>bubble_bump.png</string>
        </dict>
    </dict>
</plist>
