<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gift_RspeedUp_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{28,34}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>Gift_guard_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{32,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>Gift_needle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,74},{30,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{30,32}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>Gift_upper_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PropItems.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9046e3f7beddd5be7b419d027504c9b1:1/1$</string>
            <key>textureFileName</key>
            <string>PropItems.png</string>
        </dict>
    </dict>
</plist>
