<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player3_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,199},{54,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,62}}</string>
                <key>sourceSize</key>
                <string>{54,62}</string>
            </dict>
            <key>player3_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{52,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>player3_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,106},{49,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,63}}</string>
                <key>sourceSize</key>
                <string>{49,63}</string>
            </dict>
            <key>player3_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,199},{54,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,62}}</string>
                <key>sourceSize</key>
                <string>{54,62}</string>
            </dict>
            <key>player3_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,134},{52,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>player3_down_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,69},{49,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,63}}</string>
                <key>sourceSize</key>
                <string>{49,63}</string>
            </dict>
            <key>player3_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,157},{46,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,63}}</string>
                <key>sourceSize</key>
                <string>{46,63}</string>
            </dict>
            <key>player3_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{48,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,65}}</string>
                <key>sourceSize</key>
                <string>{48,65}</string>
            </dict>
            <key>player3_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,103},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>player3_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,157},{46,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,63}}</string>
                <key>sourceSize</key>
                <string>{46,63}</string>
            </dict>
            <key>player3_left_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,205},{48,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>player3_left_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,251},{42,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,61}}</string>
                <key>sourceSize</key>
                <string>{42,61}</string>
            </dict>
            <key>player3_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,153},{46,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,63}}</string>
                <key>sourceSize</key>
                <string>{46,63}</string>
            </dict>
            <key>player3_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,53},{48,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,65}}</string>
                <key>sourceSize</key>
                <string>{48,65}</string>
            </dict>
            <key>player3_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,56},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>player3_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,153},{46,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,63}}</string>
                <key>sourceSize</key>
                <string>{46,63}</string>
            </dict>
            <key>player3_right_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,201},{48,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>player3_right_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{42,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,61}}</string>
                <key>sourceSize</key>
                <string>{42,61}</string>
            </dict>
            <key>player3_up_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{54,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,62}}</string>
                <key>sourceSize</key>
                <string>{54,62}</string>
            </dict>
            <key>player3_up_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{52,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,65}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
            <key>player3_up_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{49,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,65}}</string>
                <key>sourceSize</key>
                <string>{49,65}</string>
            </dict>
            <key>player3_up_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{54,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,62}}</string>
                <key>sourceSize</key>
                <string>{54,62}</string>
            </dict>
            <key>player3_up_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,65}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
            <key>player3_up_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{49,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,65}}</string>
                <key>sourceSize</key>
                <string>{49,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c733ffc2e7ca8d7ef1f884ae6b63c825:1/1$</string>
            <key>textureFileName</key>
            <string>player3.png</string>
        </dict>
    </dict>
</plist>
